.center {
    text-align: center;
    color: gray;
}
.br-0 {
    border-radius: 0;
}
.shdw-3 {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 25px 1px rgba(168,168,168,1);
    box-shadow: 0px 0px 25px 1px rgba(168,168,168,1);
}
.user {
    position: absolute;
    left: -200px;
    background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=1 );
}

.actions > div {
    display: inline-block;
}
.wh-100 {
    height: 100px;
    width: 100px;
}
.abs {
    position: absolute;
    left: 110px;
}
.avatar {
    position: absolute;
}
.w-33 {
    width: calc(100%/3 - 1%);
}
.like, .comment, .repost {
    font-size: 17px;
}
.like:hover, .comment:hover, .repost:hover {
    text-decoration: none;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.date {
    color: gray;
    font-size: 12px;
}
